ion-content {
  font-family: 'Libre Baskerville', serif !important;
  --padding-start: 5px;
  --padding-end: 5px;
  --padding-top: 5px;
}

.main {
  margin: auto;
  z-index: 10;
  width: 90%;
}

.titulos {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.img_topo {
  // position: absolute;
  // left: 20px;
  // top: 20px;
  margin: auto;
  max-width: 300px;
  max-height: auto;
  z-index: 1;
  opacity: 0.5;
}

.titulo {
  font-size: 3rem;
  text-align: center;
}

.subtitulo {
  font-size: 2rem;
  align-self: center;
}

.informacoes_titulo {
  padding: 0.2rem;
  background-image: linear-gradient(to right, black, white);
  width: 100%;
  color: white;
  border-radius: 5px;
}

.informacoes_titulo+p,
.informacoes_titulo+ol,
.inscricao {
  padding-left: 1rem;
  padding-top: 1rem;
}

.lista_premiacao {
  list-style-type: none;
}

.dados_conta {
  align-self: flex-end;
}

.taxa_inscricao {
  max-width: 250px;
  max-height: auto;
}

.nota {
  font-size: small;
}

.submit {
  width: 100%;
  text-align: center;
  padding: 5px;
}


.rodape {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}

.rodape img {
  padding: 5px;
}


.texto-menor {
  font-size: 0.7rem;
  margin-left: 5px;
}

.medalha {
  width: 67px;
  height: auto;
}

.texto_miniatura {
  font-size: .7rem;
}

ion-scroll {
  white-space: nowrap;
}

ion-button {
  --background: gray;
  --color: white;
}
