.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 20px;
  border: solid 2px black;
  width: 80%;
}

.titulo {
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.subtitulo {
  font-size: 2rem;
  width: 100%;
  text-align: right;
}

.linha {
  padding: 2px;
}

.rodape {
  padding: 5px;
  text-align: right;
  width: 100%;
}

.button_submit {
  padding-left: 2px;
}

div .submit {
  width: 100%;
  text-align: center;
}

.texto-menor{
  font-size: 0.7rem;
  margin-left: 5px;
}
