<ion-app>
  <ion-content>
    <div class="main">
      <div class="d-flex flex-column flex-md-row flex-sm-column">
        <img src="/assets/background.png" class="img_topo">
        <!-- <ion-icon slot="start" src="/assets/background.png"></ion-icon> -->
        <div class="titulos d-flex flex-column">
          <span class="titulo">Torneio de Xadrez Online</span>
          <span class="subtitulo">XadrezMineiros</span>
        </div>
      </div>

      <div class="informacoes">
        <div class="informacoes_titulo">
          Informações Gerais
        </div>

        <p>
          Data e hora: 06/03/2021 as 14:00<br />
          Ritmo de jogo: 10+3<br />
          Plataforma: <a href="http://lichess.org">Lichess.org</a><br />
          Taxa de inscrição: R$ 10,00<br />
        </p>
        <div class="informacoes_titulo">
          Premiação
        </div>

        <ol class="lista_premiacao">
          <li>
            <img src="/assets/ouro.png" class="medalha">
            R$ 100,00
          </li>
          <li>
            <img src="/assets/prata.png" class="medalha">
            R$ 50,00
          </li>
          <li>
            <img src="/assets/bronze.png" class="medalha">
            R$ 25,00
          </li>
        </ol>
      </div>

      <div class="informacoes_titulo">
        Inscrição
      </div>
      <div class="inscricao">
        <ol>
          <li>
            Crie uma conta no site <a href="http://lichess.org">Lichess.org</a> caso ainda não possua.
          </li>
          <li>
            Efetue sua inscrição através do preenchimento do formulário abaixo.
          </li>
          <li>
            Realize o pagamento da taxa de inscrição através do QRCode (PIX) abaixo ou faça uma transferência para a
            conta:<br>
            <div class="d-flex">
              <img src="/assets/taxa_inscricao.jpeg">
              <p class="dados_conta">Agência: 1447<br>
                Conta: 0022782-0<br>
                Banco Bradesco<br>
                Rafael Freitas Costa<br>
              </p>
            </div>
          </li>
          <li>
            Envei um email para <i>rafaelevoinfo@gmail.com</i> contendo o comprovante de pagamento da taxa de inscrição
            e o seu username do Lichess.
          </li>
          <li>
            Solicite a participação na equipe XadreMineiros através <a
              href="https://lichess.org/team/xadrezmineiros">deste link</a>
          </li>
        </ol>


        <div class="formulario">
          <form [formGroup]='formulario' (submit)="inscrever()">
            <ion-list>
              <ion-item>
                <ion-label position="floating">Nome</ion-label>
                <ion-input formControlName="nome" class="w-100 ml-1">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Username no Lichess</ion-label>
                <ion-input formControlName="username" class="w-100 ml-1">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Celular</ion-label>
                <ion-input pattern="\(\d{2}\)\s*\d{5}-\d{4}" [brmasker]="{phone: true}" inputmode="tel" type="tel"
                  formControlName="celular">
                </ion-input>
              </ion-item>
              <ion-item>
                <div class="d-flex align-items-center">
                  <ion-checkbox formControlName="whatsapp"></ion-checkbox>
                  <span class="texto-menor ml-2">Quero ser adicionado ao grupo XadrezMineiros no WhatsApp</span>
                </div>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Cidade</ion-label>
                <ion-input formControlName="cidade" class="w-100 ml-1">
                </ion-input>
              </ion-item>
              <div class="submit">
                <ion-button size="medium" type="submit" [disabled]="formulario.invalid" class="w-auto px-2">
                  <ion-icon name="document-outline"></ion-icon>
                  <span>Inscrever</span>
                </ion-button>
              </div>
            </ion-list>

            <div [class]="inscrito?'alert alert-success m-2 text-center':'d-none'">
              <strong>Inscrição realizada com sucesso!!!</strong>
            </div>
            <div [class]="erro?'alert alert-danger m-2 text-center':'d-none'">
              <strong>Não foi possivel realizar sua inscrição. Tente novamente ou entre em contato com
                rafaelevoinfo@gmail.com</strong>
            </div>
          </form>
        </div>
      </div>


      <div class="informacoes_titulo">
        Apoio
      </div>
      <div class="rodape">
        <img src="/assets/oreades.png">
        <img src="/assets/ello.png">
      </div>

    </div>
  </ion-content>
</ion-app>
